page-home{

#card-perfil-menu {

    background-color: #CF8E2C;
    height:100%;
    width:100%;

  }

  .icon-menu {
    color :  #CF8E2C;    
  }

  .bgView {
    background-color: #CF8E2C;
    background-image: url("../../assets/imgs/bg_marca_dagua.png");
    
  }

}