page-cad-perfil {

    .background-page {

        background-image: url("../../assets/imgs/bg_marca_dagua.png"); 
        height:100%;
        width:100%;   
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
