page-cadastro-eventopt2 {

    .background-page {

        background-image: url("../../assets/imgs/bg_marca_dagua.png"); 
        height:100%;
        width:100%;   
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-cadastro{
        padding-top: 0px;
        background-color:transparentize($color: #e5dcd1, $amount: 0.0);
        height: 530px;
    }

    .btns{
        width: 100%;
        height: 120px;

    }

    .icons{
        font-size: 50px;
        color: #e5dcd1;
    }



}
